@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(249,247,247);background: linear-gradient(160deg, rgba(249,247,247,1) 36%, rgba(249,197,152,1) 59%, rgba(249,186,243,1) 76%, rgba(255,255,255,1) 94%);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


